{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Detalles de la Marca</h2>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ marca.nombre }}</h3>
        </div>
    </div>
    <a href="{% url 'marca-update' marca.id %}" class="btn btn-success mt-3">Editar</a>
    <form action="{% url 'marca-delete' marca.id %}" method="post" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mt-3">Eliminar</button>
    </form>
    <a href="{% url 'marca-list' %}" class="btn btn-secondary mt-3">Volver a la Lista de Marcas</a>
</div>
{% endblock %}
