{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Lista de Marcas</h2>
    {% if user.is_staff %}
    <a href="{% url 'marca-create' %}" class="btn btn-primary mb-3">Crear Marca</a>
    {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for marca in marcas %}
                <tr>
                    <td>{{ marca.nombre }}</td>
                    <td>
                        <a href="{% url 'marca-detail' marca.id %}" class="btn btn-info btn-sm">Detalles</a>
                        {% if user.is_staff %}
                        <a href="{% url 'marca-update' marca.id %}" class="btn btn-success btn-sm">Editar</a>
                        <form action="{% url 'marca-delete' marca.id %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'index' %}" class="btn btn-secondary">Volver al Inicio</a>
</div>
{% endblock %}
