{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Actualizar Empleado</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" name="nombre" class="form-control" value="{{ empleado.nombre }}" required>
        </div>
        <div class="form-group">
            <label>Apellido</label>
            <input type="text" name="apellido" class="form-control" value="{{ empleado.apellido }}" required>
        </div>
        <div class="form-group">
            <label>Teléfono</label>
            <input type="text" name="telefono" class="form-control" value="{{ empleado.telefono }}" required>
        </div>
        <div class="form-group">
            <label>DNI</label>
            <input type="text" name="dni" class="form-control" value="{{ empleado.dni }}" required>
        </div>
        <div class="form-group">
            <label>Dirección</label>
            <input type="text" name="direccion" class="form-control" value="{{ empleado.direccion }}" required>
        </div>
        <div class="form-group">
            <label>Puesto</label>
            <input type="text" name="puesto" class="form-control" value="{{ empleado.puesto }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
</div>
{% endblock %}
