{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Lista de Clientes</h2>
    <a href="{% url 'cliente-create' %}" class="btn btn-primary mb-3">Crear Cliente</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.user.username }}</td>
                    <td>{{ cliente.telefono }}</td>
                    <td>
                        <a href="{% url 'cliente-detail' cliente.id %}" class="btn btn-info btn-sm">Detalles</a>
                        <a href="{% url 'cliente-update' cliente.id %}" class="btn btn-success btn-sm">Editar</a>
                        <form action="{% url 'cliente-delete' cliente.id %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'index' %}" class="btn btn-secondary">Volver al Inicio</a>
</div>
{% endblock %}
