{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Detalles de la Categoria</h2>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ categoria.nombre }}</h3>
        </div>
    </div>
    <a href="{% url 'categoria-update' categoria.id %}" class="btn btn-success mt-3">Editar</a>
    <form action="{% url 'categoria-delete' categoria.id %}" method="post" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mt-3">Eliminar</button>
    </form>
    <a href="{% url 'categoria-list' %}" class="btn btn-secondary mt-3">Volver a la Lista de Categorias</a>
</div>
{% endblock %}
