{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Detalles de la Venta</h2>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ venta.auto.modelo.nombre }}</h3>
            <p class="card-text">Cliente: {{ venta.cliente.user.username }}</p>
            <p class="card-text">Precio Final: {{ venta.precio_final }}</p>
        </div>
    </div>
    <a href="{% url 'venta-update' venta.id %}" class="btn btn-success mt-3">Editar</a>
    <form action="{% url 'venta-delete' venta.id %}" method="post" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mt-3">Eliminar</button>
    </form>
    <a href="{% url 'venta-list' %}" class="btn btn-secondary mt-3">Volver a la Lista de Ventas</a>
</div>
{% endblock %}
