{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Actualizar Venta</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Auto</label>
            <select name="auto_id" class="form-control" required>
                {% for auto in autos %}
                    <option value="{{ auto.id }}" {% if auto.id == venta.auto.id %}selected{% endif %}>{{ auto.modelo.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Cliente</label>
            <select name="cliente_id" class="form-control" required>
                {% for cliente in clientes %}
                    <option value="{{ cliente.id }}" {% if cliente.id == venta.cliente.id %}selected{% endif %}>{{ cliente.user.username }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Precio Final</label>
            <input type="number" name="precio_final" class="form-control" value="{{ venta.precio_final }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
</div>
{% endblock %}
