{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Detalles del Auto</h2>
    <br>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ auto.modelo.marca }} {{ auto.modelo.nombre }}</h3>
            <p class="card-text">Categoría: {{ auto.categoria.nombre }}</p>
            <p class="card-text">Precio: {{ auto.precio }}</p>
            <p class="card-text">Descripción: {{ auto.descripcion }}</p>
            {% if auto.imagen %}
                <img src="{{ auto.imagen.url }}" class="img-fluid" alt="Foto del auto">
            {% else %}
                <p>No hay foto disponible</p>
            {% endif %}
        </div>
    </div>
    <br>
    <a href="{% url 'auto-update' auto.id %}" class="btn btn-success mt-3">Editar</a>
    <form action="{% url 'auto-delete' auto.id %}" method="post" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mt-3">Eliminar</button>
    </form>
    <a href="{% url 'auto-list' %}" class="btn btn-secondary mt-3">Volver a la Lista de Autos</a>
    <br><br>

    <h3>Comentarios</h3>
    <div class="comment-section" style="margin-top: 20px;">
        {% if comentarios %}
            {% for comentario in comentarios %}
                <div class="comment-card" style="background: #f9f9f9; border: 1px solid #ddd; border-radius: 5px; padding: 15px; margin-bottom: 15px;">
                    <div class="comment-author" style="font-weight: bold; margin-bottom: 10px;">Usuario: <strong>{{ comentario.autor.username }}:</strong></div>
                    <div class="comment-text" style="margin-bottom: 10px; padding: 10px;">{{ comentario.comentario }}</div>
                </div>
            {% endfor %}
        {% else %}
            <p>No hay comentarios para este auto.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
