{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Actualizar Auto</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Modelo</label>
            <select name="modelo_id" class="form-control" required>
                {% for modelo in modelos %}
                    <option value="{{ modelo.id }}" {% if modelo.id == auto.modelo.id %}selected{% endif %}>{{ modelo.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Categoria</label>
            <select name="categoria_id" class="form-control" required>
                {% for categoria in categorias %}
                    <option value="{{ categoria.id }}" {% if categoria.id == auto.categoria.id %}selected{% endif %}>{{ categoria.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Precio</label>
            <input type="number" name="precio" class="form-control" value="{{ auto.precio }}" required>
        </div>
        <div class="form-group">
            <label>Descripción</label>
            <textarea name="descripcion" class="form-control" required>{{ auto.descripcion }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
</div>
{% endblock %}
