{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Detalles del Proveedor</h2>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ proveedor.nombre }}</h3>
            <p class="card-text">Dirección: {{ proveedor.direccion }}</p>
            <p class="card-text">Teléfono: {{ proveedor.telefono }}</p>
        </div>
    </div>
    <a href="{% url 'proveedor-update' proveedor.id %}" class="btn btn-success mt-3">Editar</a>
    <form action="{% url 'proveedor-delete' proveedor.id %}" method="post" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mt-3">Eliminar</button>
    </form>
    <a href="{% url 'proveedor-list' %}" class="btn btn-secondary mt-3">Volver a la Lista de Proveedores</a>
</div>
{% endblock %}
