{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Lista de Inventarios</h2>
    <a href="{% url 'inventario-create' %}" class="btn btn-primary mb-3">Crear Inventario</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Auto</th>
                <th>Cantidad</th>
                <th>Fecha Actualizacion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for inventario in inventarios %}
                <tr>
                    <td>{{ inventario.auto.modelo.nombre }}</td>
                    <td>{{ inventario.cantidad }}</td>
                    <td>{{ inventario.fecha_actualizacion }}</td>
                    <td>
                        <a href="{% url 'inventario-detail' inventario.id %}" class="btn btn-info btn-sm">Detalles</a>
                        <a href="{% url 'inventario-update' inventario.id %}" class="btn btn-success btn-sm">Editar</a>
                        <form action="{% url 'inventario-delete' inventario.id %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'index' %}" class="btn btn-secondary">Volver al Inicio</a>
</div>
{% endblock %}
