{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Pagina de crear financiamiento en construccion</h2>
    <!-- <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Venta</label>
            <select name="venta_id" class="form-control" required>
                {% for venta in ventas %}
                    <option value="{{ venta.id }}">{{ venta.auto.modelo.nombre }} - {{ venta.cliente.user.username }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Monto</label>
            <input type="number" name="monto" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Plazo (meses)</label>
            <input type="number" name="plazo" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Tasa de Interés (%)</label>
            <input type="number" step="0.01" name="tasa_interes" class="form-control" required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form> -->
</div>
{% endblock %}
