{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Detalles del Financiamiento</h2>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Venta: {{ financiamiento.venta.auto.modelo.nombre }} - {{ financiamiento.venta.cliente.user.username }}</h3>
            <p class="card-text">Monto: {{ financiamiento.monto }}</p>
            <p class="card-text">Plazo: {{ financiamiento.plazo }} meses</p>
            <p class="card-text">Tasa de Interés: {{ financiamiento.tasa_interes }}%</p>
        </div>
    </div>
    <a href="{% url 'financiamiento-update' financiamiento.id %}" class="btn btn-success mt-3">Editar</a>
    <form action="{% url 'financiamiento-delete' financiamiento.id %}" method="post" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mt-3">Eliminar</button>
    </form>
    <a href="{% url 'financiamiento-list' %}" class="btn btn-secondary mt-3">Volver a la Lista de Financiamientos</a>
</div>
{% endblock %}
