{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Lista de Financiamientos</h2>
    <a href="{% url 'financiamiento-create' %}" class="btn btn-primary mb-3">Crear Financiamiento</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Venta</th>
                <th>Monto</th>
                <th>Plazo</th>
                <th>Tasa de Interés</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for financiamiento in financiamientos %}
                <tr>
                    <td>{{ financiamiento.venta.auto.modelo.nombre }} - {{ financiamiento.venta.cliente.user.username }}</td>
                    <td>{{ financiamiento.monto }}</td>
                    <td>{{ financiamiento.plazo }} meses</td>
                    <td>{{ financiamiento.tasa_interes }}%</td>
                    <td>
                        <a href="{% url 'financiamiento-detail' financiamiento.id %}" class="btn btn-info btn-sm">Detalles</a>
                        <a href="{% url 'financiamiento-update' financiamiento.id %}" class="btn btn-success btn-sm">Editar</a>
                        <form action="{% url 'financiamiento-delete' financiamiento.id %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'index' %}" class="btn btn-secondary">Volver al Inicio</a>
</div>
{% endblock %}
