{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Detalles del Comentario</h2>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ comentario.auto.modelo.nombre }}</h3>
            <p class="card-text">Autor: {{ comentario.autor.username }}</p> <!-- Cambiado aquí -->
            <p class="card-text">Comentario: {{ comentario.comentario }}</p>
        </div>
    </div>
    {% if user == comentario.autor %}
        <a href="{% url 'comentario-update' comentario.id %}" class="btn btn-success mt-3">Editar</a>
    {% endif %}
    {% if user.is_staff or user == comentario.autor %}
        <form action="{% url 'comentario-delete' comentario.id %}" method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger mt-3">Eliminar</button>
        </form>
    {% endif %}
    <a href="{% url 'comentario-list' %}" class="btn btn-secondary mt-3">Volver a la Lista de Comentarios</a>
</div>
{% endblock %}
